body {
    background-image: url(Moon\ Background.png);
}

* {
    font-family: fantasy;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-image: url(Moon.png);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 100px;
    animation: slide 3s 
;}
@keyframes slide {
0% {transform: translateY(0px);opacity: 1;
    
transform: translateY(15px);opacity: 0;}
}


p {font-size: 15px;
    color: silver;
    text-align: center;

}
.video {
    text-align: center;
}